In [1]:
from gym_trading_env.downloader import download
import datetime
import pandas as pd

download(exchange_names = ["binance"],
         symbols = ["BTC/USDT"],
         timeframe = "1h",
         dir = "data",
         since = datetime.datetime(year = 2020, month = 3, day = 31))

BTC/USDT downloaded from binance and stored at data/binance-BTCUSDT-1h.pkl

OSError: Cannot save file into a non-existent directory: 'data'

In [1]:
import pandas as pd

In [31]:
df = pd.read_pickle("binance-BTCUSDT-1h.pkl")

In [35]:
df.shape

(37167, 6)

일단 10000 time step만 진행해보자

In [43]:
new_df = df[-10000:]
train_size = int(len(new_df) * 0.7)
train_df = new_df[:train_size]
test_df = new_df[train_size:]

In [46]:
train_df

,open,high,low,close,volume,date_close
date_open,,,,,,
2023-05-08 00:00:00,28430.09,28631.01,28357.70,28572.17,3090.48598,2023-05-08 01:00:00
2023-05-08 01:00:00,28572.17,28587.77,28034.34,28220.34,6092.20654,2023-05-08 02:00:00
2023-05-08 02:00:00,28220.35,28302.08,28129.74,28284.98,2966.43174,2023-05-08 03:00:00
2023-05-08 03:00:00,28284.98,28284.98,28004.23,28199.71,2709.99534,2023-05-08 04:00:00
2023-05-08 04:00:00,28199.72,28227.01,28112.79,28125.00,1519.54643,2023-05-08 05:00:00
...,...,...,...,...,...,...
2024-02-23 11:00:00,51171.09,51263.22,51141.20,51218.95,783.12054,2024-02-23 12:00:00
2024-02-23 12:00:00,51218.94,51225.25,50926.21,50994.01,1388.69200,2024-02-23 13:00:00
2024-02-23 13:00:00,50994.00,51095.00,50925.02,51058.20,1238.27680,2024-02-23 14:00:00
2024-02-23 14:00:00,51058.21,51333.47,50800.32,51126.00,3375.71574,2024-02-23 15:00:00
2024-02-23 15:00:00,51126.00,51126.00,50833.02,50911.11,2300.14381,2024-02-23 16:00:00

In [47]:
test_df

,open,high,low,close,volume,date_close
date_open,,,,,,
2024-02-23 16:00:00,50911.10,51121.01,50629.33,51053.07,2839.21808,2024-02-23 17:00:00
2024-02-23 17:00:00,51053.08,51172.91,50974.00,51139.14,1041.56099,2024-02-23 18:00:00
2024-02-23 18:00:00,51139.13,51193.69,51000.00,51103.76,935.76244,2024-02-23 19:00:00
2024-02-23 19:00:00,51103.76,51195.18,51032.88,51099.09,834.13729,2024-02-23 20:00:00
2024-02-23 20:00:00,51099.09,51162.04,50961.10,51079.21,916.76695,2024-02-23 21:00:00
...,...,...,...,...,...,...
2024-06-27 11:00:00,61110.01,61314.20,61096.00,61196.02,580.05999,2024-06-27 12:00:00
2024-06-27 12:00:00,61196.01,61660.00,61154.60,61341.88,1198.51794,2024-06-27 13:00:00
2024-06-27 13:00:00,61341.87,61994.00,61314.00,61990.00,1761.82668,2024-06-27 14:00:00
2024-06-27 14:00:00,61990.00,62389.22,61696.64,61729.99,2096.81938,2024-06-27 15:00:00
2024-06-27 15:00:00,61730.00,61855.23,61532.45,61648.31,1002.98362,2024-06-27 16:00:00

In [39]:
new_df.shape

(10000, 6)

In [34]:
df.iloc[-1]

open                      61730.0
high                     61855.23
low                      61532.45
close                    61648.31
volume                 1002.98362
date_close    2024-06-27 16:00:00
Name: 2024-06-27 15:00:00, dtype: object

In [8]:
train_size = int(len(df) * 0.7)

test_df = df[train_size:]
test_df

,open,high,low,close,volume,date_close
date_open,,,,,,
2023-03-21 00:00:00,27717.01,27953.33,27664.51,27850.21,15105.73382,2023-03-21 01:00:00
2023-03-21 01:00:00,27850.21,27934.63,27711.00,27875.65,13164.86421,2023-03-21 02:00:00
2023-03-21 02:00:00,27874.60,27907.80,27773.29,27779.74,11442.54447,2023-03-21 03:00:00
2023-03-21 03:00:00,27779.74,27838.00,27726.13,27787.29,11236.18652,2023-03-21 04:00:00
2023-03-21 04:00:00,27787.29,27968.00,27780.05,27906.81,12637.07836,2023-03-21 05:00:00
...,...,...,...,...,...,...
2024-06-27 11:00:00,61110.01,61314.20,61096.00,61196.02,580.05999,2024-06-27 12:00:00
2024-06-27 12:00:00,61196.01,61660.00,61154.60,61341.88,1198.51794,2024-06-27 13:00:00
2024-06-27 13:00:00,61341.87,61994.00,61314.00,61990.00,1761.82668,2024-06-27 14:00:00
2024-06-27 14:00:00,61990.00,62389.22,61696.64,61729.99,2096.81938,2024-06-27 15:00:00
2024-06-27 15:00:00,61730.00,61855.23,61532.45,61648.31,1002.98362,2024-06-27 16:00:00

In [24]:
train_df

,open,high,low,close,volume,date_close
date_open,,,,,,
2020-03-31 00:00:00,6394.45,6469.28,6380.00,6439.55,3456.744826,2020-03-31 01:00:00
2020-03-31 01:00:00,6439.55,6515.00,6439.55,6514.07,2564.814102,2020-03-31 02:00:00
2020-03-31 02:00:00,6514.78,6523.23,6445.00,6449.66,2638.245186,2020-03-31 03:00:00
2020-03-31 03:00:00,6449.62,6480.00,6408.00,6439.47,3522.060908,2020-03-31 04:00:00
2020-03-31 04:00:00,6439.47,6465.00,6378.00,6398.93,3855.135175,2020-03-31 05:00:00
...,...,...,...,...,...,...
2023-03-20 19:00:00,27980.02,28013.00,27633.17,27785.10,16860.839580,2023-03-20 20:00:00
2023-03-20 20:00:00,27784.57,28034.19,27752.94,28001.00,12624.378950,2023-03-20 21:00:00
2023-03-20 21:00:00,28002.37,28186.71,27921.68,27996.09,11012.975200,2023-03-20 22:00:00
2023-03-20 22:00:00,27996.09,28058.10,27859.75,27952.20,9715.082800,2023-03-20 23:00:00
2023-03-20 23:00:00,27950.87,28015.21,27577.02,27717.01,14506.704940,2023-03-21 00:00:00

In [18]:
train_df = df[:train_size]

In [23]:
train_df.iloc[16000]

open                     36639.43
high                     36787.77
low                      36327.13
close                    36528.86
volume                 1843.62877
date_close    2022-01-27 17:00:00
Name: 2022-01-27 16:00:00, dtype: object

In [22]:
test_df.iloc[3000]

open                     30010.01
high                     30021.18
low                       29859.0
close                    29915.99
volume                 1411.21909
date_close    2023-07-24 02:00:00
Name: 2023-07-24 01:00:00, dtype: object

In [6]:
len(df) * 0.7

26016.899999999998

In [2]:
38231 * 0.2

7646.200000000001

In [3]:

20000 * (1.154 ** 7646)

OverflowError: (34, 'Result too large')

In [2]:
import torch

if torch.backends.mps.is_available():
    mps_device = torch.device("mps")
    x = torch.ones(1, device=mps_device)
    print (x)
else:
    print ("MPS device not found.")

tensor([1.], device='mps:0')

In [11]:
df.iloc[11016]

open                      34764.0
high                     34789.04
low                      34603.53
close                    34645.85
volume                1011.063156
date_close    2021-07-03 19:00:00
Name: 2021-07-03 18:00:00, dtype: object

In [13]:
import numpy as np

np.random.randn(1) * 0.1

array([-0.11568428])

In [22]:
device = torch.device("mps")

In [23]:
import torch 
a = torch.tensor(1, device=device)

In [28]:
a = a.cpu()

In [30]:
a

tensor(1)

In [28]:
df2 = pd.read_pickle("measurement.pickle")

In [29]:
df2

,Open,High,Low,Close,Volume,taker_buy_quote_asset_volume,AROON,%D,KCU,KCL,FI,DIFFRSI,SRSI,TRIX_HIST,AO
open_time,,,,,,,,,,,,,,,
1641028200000,47142.39,47142.39,47142.39,47142.39,0.000000,0.000000,-50.000000,25.179543,47170.9185,47170.9185,-29.604093,2.268637,0.921130,0.000172,10.694618
1641028500000,47142.39,47142.39,47142.02,47142.02,0.003924,0.000000,-50.000000,28.406955,47176.5515,47175.0715,-30.705597,2.268637,0.870136,0.000120,8.697912
1641028800000,47142.02,47142.02,47142.02,47142.02,0.000000,0.000000,-50.000000,28.360903,47179.2515,47179.2515,-36.811017,2.268637,0.898510,0.000091,12.269794
1641029100000,47103.27,47124.42,47103.27,47124.42,0.006091,286.978747,-50.000000,26.124242,47222.5195,47137.9195,-21.958556,1.749303,1.000000,-0.000079,15.217794
1641029400000,47112.96,47118.73,47112.96,47118.73,0.031840,0.000000,-50.000000,23.225421,47190.9215,47167.8415,-24.834712,1.749303,0.948227,-0.000038,13.979676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684444500000,26757.47,26767.34,26753.39,26767.34,0.188540,3242.994229,42.857143,79.470062,26774.5500,26718.7500,51.076451,2.137835,0.592421,0.000165,45.662882
1684444800000,26775.74,26850.73,26773.62,26822.77,1.057920,19271.188495,78.571429,83.449469,26902.9415,26594.5015,115.386642,2.137835,0.199679,0.000845,55.422765
1684445100000,26837.16,26896.46,26784.58,26837.54,8.434470,26598.332927,85.714286,79.417564,26975.7455,26528.2255,241.411786,2.150269,0.000000,0.000424,69.033471
1684445400000,26827.56,26840.83,26814.23,26839.73,0.437840,9812.153011,85.714286,71.970987,26809.4705,26703.0705,232.317308,2.250370,0.000000,0.000026,77.046765
1684445700000,26839.73,26881.72,26837.05,26881.72,0.061310,646.132451,42.857143,76.014038,26852.7415,26674.0615,235.488005,2.677916,0.000000,0.000458,91.630147